/* navBar */
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #151527;
    box-shadow: 
    0 0 3px rgb(0 0 255),
    0 0 6px rgb(0 71 171),
    0 0 9px rgb(0 0 139),
    0 0 12px rgb(20 52 163),
    0 0 15px rgb(25 25 12),
    0 0 18px rgb(0 0 128);
}


.opcion {
    text-align: center;
    padding: 55px 0px;
    text-decoration: none;
    float: left;
}
/* Create Videogame */
.to{
    color: #fff;
    text-decoration: none;
    border: #1928ff solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow:  
    0 0 3px rgb(0 0 255),
    0 0 6px rgb(0 71 171),
    0 0 9px rgb(0 0 139),
    0 0 12px rgb(20 52 163),
    0 0 15px rgb(25 25 12),
    0 0 18px rgb(0 0 128);
}

.to:hover {
    background-color: #0946b8;
}

.to:active {
    background-color: darkgrey;
    box-shadow: 0 2px #131da4;
    transform: translateY(2px);
}

.search{
    padding: 0;
    margin: 0 16px;
}

.gif {
    display: table-cell;
    padding-top: 0.5vw;
    width:19vw;
    margin: -34px;
    height: auto;
}

/* .imagencita {
    justify-content: center;
    position: relative;
    margin: 0 40px 0 0;
    height: auto;
    width: auto;
} */

.busqueda {
    padding: 0;
}
/* refresh */
.btn {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: right;
    color: #fff;
    text-decoration: none;
    border: #1928ff solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow: 0 0 3px rgb(0 0 255),
    0 0 6px rgb(0 71 171),
    0 0 9px rgb(0 0 139),
    0 0 12px rgb(20 52 163),
    0 0 15px rgb(25 25 12),
    0 0 18px rgb(0 0 128);
    background: bottom;
    margin: 50px 10px 0px;
    cursor: pointer;
}
/* refresh */
.btn:hover {
    background-color: #0946b8;
}

.btn:active {
    background-color: darkgrey;
    box-shadow: 0 2px #0946b8;
    transform: translateY(2px);
}

