.titulo {
    font-family: monospace;
    color: darkred;
    font-size: 45px;
    margin-top: 30px;
}

.pregunta {
    font-family: monospace;
    font-size: 25px;
    color: darkgray;
}

.mini_box{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.nav{
    margin: 15px;
    color: #fff;
    text-decoration: none;
    border: #fff;
    padding: 8px;
    width: 7%;
    font-family: monospace;
    margin-top: 15px;
    background: black;
    border-radius: 0px;
    box-shadow: 
    0 0 3px rgb(0 0 255),
    0 0 6px rgb(0 71 171),
    0 0 9px rgb(0 0 139),
    0 0 12px rgb(20 52 163),
    0 0 15px rgb(25 25 12),
    0 0 18px rgb(0 0 128);
}